body{
  margin: 0;
}

.btn_home{
  background-color: rgb(220, 220, 220);
  width: 20%;
  border-radius: 1em;
  }
  
  .home {
      display: flex;
     justify-content: center;
     margin-top: 1em;
  }

h1{
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 2rem;
  color:#143774;
  margin: 0;
}

.subtitle {
  color:#1792D2;
  font-weight: 700;
  margin: 0;
}

.header {
  background-color: #F8F8F8;
  text-align: center;
  padding: 2em 0;
}

nav ul {
  list-style: none; 
  display: flex;
  justify-content: center;
  padding: 0;
}

.li1 {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color:#707070;
  font-weight: 700;
  padding: .25em 0;
}

nav a:hover, 
nav a:focus{
color: #1792D2
}

.active {
  border-bottom: 1px solid #707070;
}

.active:hover {
  color: #707070;
}

.header1 {
  background-color: #F8F8F8;
  padding: 2em 0;
}

.container {
 width:90%;
 max-width:900px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}

.li2{
  margin-left: 2em;
}

@media (max-width: 675px) {
  .container {
  flex-direction: column;
  justify-content: center;
  }
  .li2{
      margin: 0.5em 0;
  }
  .header1{
      text-align: center;
  }
  .ul1{
  flex-direction: column;
  }
}


