/* both projects, small an medium */

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top:0px;
  left:0px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.806), #016468c8);
}
.title {
  font-size: 30px;
  font-family: "lora" serif;
  text-align: center;
  color: white;
  margin-bottom: .5em;
  margin-top: 120px;
}
.subtitle {
  margin-left: 55px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.subtitle:hover {
  text-decoration: underline;
}
.subtitle:active{
  text-decoration: underline;
}
.git {
  margin-top: 10px;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  padding: 10px;
  z-index: 2;
  margin-top: 240px;
}

/* small projects only */
.project_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.692), #00ccd485);
  width: 25%;
  height: 430px;
  margin: 10px;
  border-radius: 10px;
  transition: transform .2s;
}
.project_wrap:hover {
  transform: scale(1.2); 
  z-index: 2;
  background: linear-gradient(rgb(196, 195, 195), #006569);
}

.image {
  margin-top: 10px;
  position: absolute;
  width: 90%;
  border-radius: 5px;
}
.calculator {
  width: 62%;
}
.btn {
  position: absolute;
  text-align: center;
  background-color: #131f1b;
  width: 70%;
  height: 40px;
  color: white;
  font-size: 15px;
  border-radius: 0.7em;
  cursor: pointer;
  bottom: 60px;
  border: none;
  text-decoration: none;
}

.btn:active {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}
.btn:hover {
  background-color: #00383a;
  color: white;
  cursor: pointer;
}
.btnGit {
 bottom: 10px;
}
.wrapperMedium {

}
.projectWrap {
  position: relative;
  width: 49%;
  height: 470px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: space-between;
  background: linear-gradient(rgba(255, 255, 255, 0.692), #00cdd440);
}
.img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
  top: 5px;
  margin: 7px;
  transition: transform .2s;
}
.img:hover {
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.315);
}

.btnwrap {
    position: absolute;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 10px;
    left: 35%;
}
.btnMedium {
  text-align: center;
  background-color: #19b7baa3;
  width: 200px;
  height: 40px;
  color: white;
  font-size: 15px;
  border-radius: 0.7em;
  cursor: pointer;
  bottom: 60px;
  border: none;
  text-decoration: none;
}
.btnMedium:hover {
  background-color: #0a3d3ea8;
}

.description {
  position: absolute;
    top: 260px;
    left: 10px;
}
@media (max-width: 750px){
  .wrapper {
    flex-direction: column;
    margin-top: 210px;
    height: 1900px;
  }
  .project_wrap {
    width: 100%;
    transition: none;
    margin-right: 22px;
  }
  .project_wrap:hover {
    transform: none;
    
  }
  .subtitle {
    font-size: 20px;
    margin-left: 30px;
  }
  .projectWrap {
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    height: 410px;
  }
  .img {
    width: 160px;
    height: 145px;
    border-radius: 10px;
    transition: none;
    margin-bottom: 245px;
  }
  .description {
    top:165px;
  }
  .wrapperMedium {
    margin-top: 210px;
    height: 880px;
  }
  .btnwrap{
    bottom: 35px;
    left: 20%;
}
}

