.container {
  position:fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top:0px;
  left:0px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.806), #016468c8);
}
.title {
  font-size: 25px;
  font-family: "lora" serif;
  text-align: center;
  color:white;
  margin-bottom: .5em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.project_wrap {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.692), #00ccd485);
  width: 25%;
  height: 430px;
  margin: 10px;
  border-radius: 10px;
}
.image {
  margin-top: 10px;
  position: absolute;
  width: 90%;
  border-radius: 5px;
}

.calculator {
  width: 62%;
}
.btn {
  position: absolute;
  text-align: center;
  background-color: #131f1b;
  width: 70%;
  height: 40px;
  color: white;
  font-size: 15px;
  border-radius: 0.7em;
  cursor: pointer;
  bottom: 60px;
  border: none;
}

.btn:active {
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}
.btn:hover {
  background-color: #2c2c2c;
  color: white;
  cursor: pointer;
}
.btnGit {
 bottom: 10px;
}


