.parent {
   color:white;
   background-color: #05445E;
   width: 70%;
   height: 15em;
}

.one {
   color:white;
   background-color:#189AB4 ;
   height: 3em;
   position: relative;
   left:10px;   
}

.two {
    color:black;
    background-color:#75E6DA ;
    height: 3em;
}

.three {
    color:black;
    background-color:#D4F1F4;
    height: 3em;
}