.btn {
  width: 200;
  height: 200;
  position: absolute;
  border-radius: 15px;
  background-color: #ffb067;
  margin-left: 20px;
  margin-top: -15px;
}
.btn:active {
  background-color: grey;
  box-shadow: 2px 2px 5px #2b1103;
  color: rgb(91, 91, 91);
}
.btn:hover {
  background-color: #ffb067;
  box-shadow: 2px 2px 5px #2b1103;
  color: rgb(91, 91, 91);
}

.calendar {
  width: 50px;
  height: 50px;
}
.day {
  position: absolute;
  margin-top: -35px;
  margin-left: 17px;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffb067;
}
.day:hover {
  background-color: #ffb067;
  color: rgb(91, 91, 91);
  cursor: pointer;
}
