.containerHome {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.806), #016468c8);
    z-index:1;
}
.container_center{
    position: relative;
    top: 20%;
    left: 15%;
    width:1000px;
    height:530px;
} 
.center {
    position: absolute;
    width:100px;
    height:100px;
    left: 0px;
}
.name{
    font-size: 70px;
}
.margin {
    margin-top: 10px;
}
.viewprojects {
position: absolute;
bottom: 220px;
border: 2px solid white;
color: white;
width: 150px;
height: 60px;
font-size: 15px;
background-color: rgba(0, 0, 0, 0.236);
}
.viewprojects:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}
