.header {
    width: 100%;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.369);
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:20;
}
.contact {
    width: 50%;
    display: flex;
    margin-top: 0px;
    margin-left: 50px;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}
.contactImg {
    margin-top: 13px;
    padding: 5px;
}
.mail {
    color:white;
    text-decoration: none;
    margin-top: 18px;
    height: 10px;
    font-size: 12px;
}
.menu {
    width: 50%;
    position: relative;
    height: 50%;
}
.number {
    position: absolute;
    bottom: 20px;
    left: 25px;
    color: white;
    font-size: 12px;
}
.numberImg {
    position: absolute;
    bottom: 30px;
    left: 1px;
}
.menu_ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 45px;
    margin-top: 50px;
}
.link{
  color:white;
  text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.link:active {
    text-decoration: underline;
}
.link::after {
    text-decoration: underline;
}
.linkin {
    position: absolute;
    bottom: 10px;
    left: 1px;
}
.git {
    position: absolute;
    bottom: 10px;
    left: 25px;
}