.container {
    position: fixed;
    width: 100%;
    height: 170vh;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.806), #016468c8);
    z-index:1;
    margin-left: 0px;
}

.wrapper {
    display: flex;
    width: 87%;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 80px;
    margin-right: 60px;
}
.title {
    margin-left: 40px;
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
    font-family: "lora" serif;
}
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.btnDetails {
  border: none;
  background-color: #19b7baa3;
  height: 30px;
  color: white;
}  
.btnDetails:hover {
  background-color: #19b7ba;
}
.details {
  display: block;
  border: 1px solid white;
  font-size: 10px;
  width: 90%;
  height: 125px;
  overflow: scroll;
  background-color: white;
  color:black;
}
.hidden {
  display: none;
}
.certificate {
  width: 80%;
}

@media (max-width: 750px) {
  .container {
    position: absolute;
  }
  .wrapper {
    flex-direction: column;
    margin-top: 10px;
    margin-right: 5px;
    margin-left:27px;
  }
  .certificate {
    width: 110%;
  }
  .zoom {
    transition: none;
}
.zoom:hover {
    transform: none;
  }
  .title {
    margin-left: 6px;
  }
  .btnDetails {
    margin-bottom: 25px;
  }
}