.container {
  position: fixed; 
  margin: 0 auto;
  top:0px;
  left:0px;
  background: linear-gradient(#C9CF32, #3832CF);
  width: 100%;
  height: 100%;
}
.calculator_container {
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.716);
  height: 570px;
  margin-top: 90px;
  position: relative;
}
.screen_container {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.646);
  height: 125px;
  color: white;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
}
.screen{
  margin-right: 5px;
  height: 20px;
  margin-left:5px;
}
.screen1 {
  font-size: 30px;
}
.screen2 {
  font-size: 17px;
}
.screen3 {
  font-size: 12px;
}
.screen4 {
  font-size: 10px;
}
.screen5 {
  font-size: 9px;
}

.stored {
  color: grey;
  height:0px;
  margin-left:5px;
  }
.buttonBox{
  border: 1px solid #0bf4a200;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}
.buttonBoxTop{
  width: 300px;
  height: 72px;
}
.buttonBoxDigits{
  width: 219px;
  height: 230px;
}
.buttonBoxRight {
  width: 60px;
  height: 311px;
  position: absolute;
  top: 217px;
  right: 27px;
}
.buttonBoxBottom {
  width: 219px;
  height: 60px;
  margin-left: 13px;
  margin-top: 2px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: black;
  color:white;
  border-radius: 30px;
}
.button:hover {
  background-color: #C9CF32;
  color:black;
}
.button:active {
  background-color: #A2A727;
  color:black;
}
.text {
  font-size: 25px;
}
.container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 235px;
  margin-left: 17px;
}
.btnGrey {
   background-color: #8080809e;
}
.btnGreen { 
  background-color: #61791a;
}
.equal {
  border-radius: 40px;
  margin-right: 2px;
  background-color: #61791a;
}
.del {
  border-radius: 40px;
  margin-right: 2px;
  background-color: #a84415;
}
.asterisk {
  font-size: 40px;
  margin-top: 60px;
} 
