
.container {
  border: 1px solid  yellow;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 300vh;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.806), #016468c8);
}
.wrapper {
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  padding: 10px;
  z-index: 2;
  margin-top: 240px;
}

.projectWrap {
  margin-top: 50px;
  background-image: linear-gradient(to bottom right, white, rgba(2, 120, 124, 0.863));
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}
.videoWrap {
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  overflow: hidden; 
  position: relative;
  width: 65%;
  height: 0;
  padding-bottom: 36.56%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.project_content {
  position: relative;
  margin-top: 60px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 300px ;
}
.description {
  margin-top: 7px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: black;
}
.btn {
  width: 70%;
  height: 40px;
  color: #003233c8;
  font-size: 15px;
  border-radius: 0.7em;
  cursor: pointer;
  bottom: 80px;
  border: none;
  text-decoration: none;
}
.btnLink {
  margin-top: 9px;
  font-weight: bold;
}
.title {

}

@media (max-width: 1200px) {
.project_content {
margin-top: 5px;
margin-bottom: 5px;
width: 200px;
}
.videoWrap {
  margin-top: 10px;
}
.title {
  font-size:80%;
}
.description {
  font-size:80%;
}
.btnLink {
  font-size:80%;
}
}

@media (max-width: 770px) {
.projectWrap {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 420px;
  justify-content: space-around;
}
.project_content {
  margin: 0px;
  height: 150px;
  width: 300px;
  }
.videoWrap {
  margin-bottom: 0px;
}  
}
@media (max-width: 690px) {
  .projectWrap {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 400px;
    justify-content: space-around;
  }
}
@media (max-width: 450px) {
  .projectWrap {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 350px;
    justify-content: space-around;
  }
  .videoWrap {
    border-radius: 20px;
    padding-bottom: 47.56%;
    width: 84%;
  }
}
@media (max-width: 360px) {
  .projectWrap {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
    justify-content: space-around;
  }

  .title {
    font-size:60%;
  }
  .description {
    font-size:60%;
  }
  .btnLink {
    font-size:60%;
  }
}
