.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 30em;
  margin: 0 auto;
  margin-top: 10%;
}

.title {
  font-size: 3rem;
  font-family: "lora" serif;
  text-align: center;
  color:#2b1103;
  margin-bottom: .5em;
}

.btn_wrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 5em;
  align-items: center;
  padding: 0.5em;
  margin: 0 auto;
}

.btn {
  margin: 0.3em;
  padding: 0.5em;
  background-color: #ffb067;
  width: 20rem;
  height: 3.3em;
  font-family: "lora" serif;
  color:white;
  font-size: 1rem;
  border-radius: 0.7em;
  cursor: pointer;
}

.btn:active {
  background-color: #0000FF;
  color: white;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}
.btn:hover {
  background-color: #0000FF;
  color: white;
  cursor: pointer;
}

.btn_1{
  background-color: #76B947;
}

.btn_2{
  background-color: #FB6090;
}

.btn_3{
  background-color: #FD7F20;
}

.btn_4{
  background-color: #d420fd;
}
