.bground {
  width: 100%;
  height: auto;
  opacity: 8%;
  position: absolute;
}

.cat {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 260px;
  float: left;
  opacity: 80%;
}
.cat_bag {
  margin-top: 90px;
  transform: rotate(83deg);
  margin-left: -103px;
}
.inTheBag {
  width: 80px;
  height: 80px;
  float: right;
  position: absolute;
  top: 0px;
  left: 0px;
}
.food1_inTheBag {
  margin-top: 445px;
  margin-left: 471px;
  transform: rotate(33deg);
}
.food2_inTheBag {
  margin-top: 451px;
  margin-left: 525px;
  transform: rotate(18deg);
}
.food3_inTheBag {
  margin-top: 445px;
  margin-left: 566px;
  transform: rotate(-22deg);
}
.food4_inTheBag {
  margin-top: 411px;
  margin-left: 520px;
}
.food5_inTheBag {
  margin-top: 393px;
  margin-left: 465px;
  transform: rotate(-16deg);
}
.food6_inTheBag {
  margin-top: 398px;
  margin-left: 568px;
  transform: rotate(11deg);
}
.food7_inTheBag {
  margin-top: 363px;
  margin-left: 523px;
}
.food8_inTheBag {
  margin-top: 353px;
  margin-left: 472px;
  transform: rotate(3deg);
  z-index: -1;
}
.food9_inTheBag {
  margin-top: 321px;
  margin-left: 522px;
  transform: rotate(12deg);
  z-index: -1;
}
.food10_inTheBag {
  margin-top: 348px;
  margin-left: 570px;
  transform: rotate(22deg);
  z-index: -1;
}
.cat_above {
  float: right;
  position: absolute;
  top: 0px;
  margin-top: 57px;
  margin-left: 140px;
  width: 120px;
  height: 80px;
}
.cat_back {
  float: right;
  position: absolute;
  top: 0px;
  margin-top: 38px;
  margin-left: 284px;
  width: 83px;
  height: 116px;
}
.cat_lie {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -3px;
  width: 160px;
  height: 160px;
  margin-right: 160px;
}
.box_shadow {
  width: 70px;
  height: 70px;
  float: right;
  position: absolute;
  top: 0px;
  box-shadow: 1px -5px 25px 3px #ffb067;
  border-radius: 50px;
  border: 2px solid #aceef3;
  background-color: #ffb067;
}
.done {
  float: right;
  position: absolute;
  top: 0px;
  width: 60px;
  height: 60px;
  transform: rotate(-6deg);
}
.hidden {
  display: none;
}
.food1_position{
  margin-top: 173px;
  margin-left: 150px;
  transform: rotate(-28deg);
}
.done1{
  margin-top: 180px;
  margin-left: 155px;
}
.food2_position {
  margin-top: 173px;
  margin-left: 469px;
  transform: rotate(28deg);
}
.done2{
  margin-top: 180px;
  margin-left: 473px;
}
.food3_position {
  margin-top: 173px;
  margin-left: 250px;
}
.done3 {
  margin-top: 180px;
  margin-left: 255px;
}
.food4_position {
  margin-top: 173px;
  margin-left: 320px;
}
.done4 {
  margin-top: 180px;
  margin-left: 326px;
}
.food5_position {
  margin-top: 270px;
  margin-left: 184px;
}
.done5 {
  margin-top: 277px;
  margin-left: 190px;
}
.food6_position {
  margin-top: 270px;
  margin-left: 254px;
}
.done6 {
  margin-top: 277px;
  margin-left: 260px;
}
.food7_position {
  margin-top: 270px;
  margin-left: 324px;
}
.done7 {
  margin-top: 277px;
  margin-left: 330px;
}
.food8_position {
  margin-top: 366px;
  margin-left: 234px;
}
.done8 {
  margin-top: 374px;
  margin-left: 240px;
}
.food9_position {
  margin-top: 474px;
  margin-left: 126px;
  border: 2px solid #ff7077;
}
.done9 {
  margin-top: 481px;
  margin-left: 132px;
}
.food10_position {
  margin-top: 474px;
  margin-left: 300px;
  border: 2px solid #ff7077;
}
.done10 {
  margin-top: 481px;
  margin-left: 306px;
}
.p_warning {
  float: right;
  position: absolute;
  top: 0px;
  color: white;
  margin-top: 558px;
  margin-left: 334px;
  transform: rotate(-18deg);
  text-shadow: 2px 2px 2px red;
}
.extra_cats {
  float: right;
  position: absolute;
  top: 0px;
  color: white;
  margin-top: 424px;
  margin-left: 283px;
}
.extra {
  float: right;
  position: absolute;
  top: 0px;
  color: white;
  margin-top: 533px;
  margin-left: 325px;
  transform: rotate(-18deg);
  width: 103px;
  height: 79px;
}
.bag {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 260px;
  float: left;
}
.food {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  margin-top: 350px;
}
.div_img {
  margin-left: 200px;
  margin-top: 30px;
}
.section_bag {
  width: 700px;
  height: 300px;
  padding: 20px;
  float: left;
  margin-left: 100px;
  top: 0px;
}
.section_shelve {
  top: 0px;
  width: 700px;
  height: 300px;
  padding: 20px;
  float: right;
  margin-right: 60px;
}

.shelf {
  width: 500px;
  height: 500px;
  top: 0px;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}

.hello {
  font-size: 60px;
  text-align: right;
  float: left;
  padding: 20px;
}
.p1 {
  font-size: 25px;
  text-align: left;
  position: absolute;
  margin-top: 150px;
  padding: 20px;
}
.p2 {
  font-size: 25px;
  text-align: left;
  position: absolute;
  margin-top: 190px;
  padding: 20px;
}
.btn_right {
  float: right;
  background-color: #ffb067;
  width: 200px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}
.btn {
  background-color: #ffb067;
  border: none;
}
.btn:hover {
  background-color: #ffb067;
  border: none;
  cursor: pointer;
}
.btn:active {
  background-color: #ffb067;
  border: none;
  cursor: pointer;
}
.footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 100px;
}
.spy_cat {
  right: 0px;
  float: right;
  width: 100px;
  height: 100px;
  margin-right: -15px;
}
.cat_asks {
  left: 0px;
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.btn_reset {
  float: left;
  background-color: #ffb067;
  width: 200px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  right: 0px;
  margin-left: 145px;
  margin-top: -15px;
  cursor: pointer;
}
.btn_reset:active {
  background-color: grey;
  box-shadow: 2px 2px 5px #2b1103;
  cursor: pointer;
}
.btn_reset:hover {
  background-color: grey;
  cursor: pointer;
  color: white;
}
.btn_home {
  font-weight: bold;
  width: 100px;
  height: 30px;
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 80%;
  background-color: #ffb067;
  border-radius: 5px;
}
.btn_home:hover {
  background-color: grey;
  color: white;
}
.btn_home:active {
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 5px #2b1103;
}
